<!DOCTYPE html>

<!-- {% load static %} -->
<!-- {% get_media_prefix %} -->

<html>
  <head>
    <title>Rango About</title>
  </head>
  <body>
    <h1>Rango says...</h1>
    <div>
      This tutorial has been put together by me <br />
      <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
      <a href="/rango/">Index</a><br />
      <!-- <img src="/media/cat.jpg" alt="Picture of cat" /> -->
      <img src="{{ MEDIA_URL}}cat.jpg" />
      <!-- {{ MEDIA_URL}} %} -->
      <!-- New line -->
    </div>
  </body>
</html>
